* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Varela Round', sans-serif; }

html {scroll-behavior: smooth;}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(94,189,255);
}

.loading {
  position: absolute;
  display: flex;
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  width: 100%;
  justify-content: center;
} .loadingicon {
  animation: spin 3s cubic-bezier(0.3, 0.85, 0.85, 0.3) 2s infinite;
  align-self: center;
  fill: none;
  stroke: rgb(94,189,255);
  stroke-width: 6;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
}

.main {
  background-color: white;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.6);
  border-radius: 8px;
  margin: 2vh;
  width: 60%;
  min-width: 50vw;
  height: 96vh;
  display: inline-flex;
  flex-direction: column;
  z-index: 1;
} .options {
  display: flex;
  border-radius: 6px 6px 0 0 ;
  background-color: rgb(94,189,255);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.6);
  align-items: flex-end;
  z-index: 3;
  padding: 1vh;
} .options-menu {
  position: fixed;
  height: 50vh;
  width: 60vw;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.6);
  border-radius: 6px ;
  padding: 2vh;
  margin-top: 4vh;
} .options > .btn {
  padding: 0;
}

.logo {
  color: white;
  font-size: 2vh;
  width: 100%;
  text-align: left;
}

.btn {
  padding: 0.8vh;
  border: none;
  background-color: rgb(94,189,255);
  color: white;
  font-size: 2vh;
  border-radius: 6px;
} .noselect {
  user-select: none;
}

.message-container {
  border-radius: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 2vh;
} .new-alert {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  border-radius: 8px;
  color: white;
  background-color: rgb(94,189,255);
} .nopost {
  color: gray;
}

.message {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  min-height: 8vh;
  margin-bottom: 1vh;
  text-align: left;
  padding: 1vh;
  border-bottom: 1px solid darkgray;
} .content {
  word-wrap: break-word;
} .sub-content {
  display: flex;
  margin-top: 1vh;
  color: rgb(94,189,255);
} .date {
  align-self: flex-end;
  justify-self: stretch;
  font-size: 1vh;
  flex: 1 1;
} .vote {
  font-size: 2vh;
  justify-self: flex-end;
} .vote-btn {
  color: lightgray;
  padding: 1vh;
  cursor: pointer;
}

.chatstuffs {
  border-top: 1px solid darkgray;
  align-self: flex-end;
  width: 100%;
  padding: 2vh;
  display: inline-block;
  align-content: center;
  width: 100%;
  font-size: 2vh;
} .userArea {
  display: flex;
  width: 100%;
} .userInput {
  border-radius: 6px;
  resize: none;
  width: 100%;
  padding: 1vh;
  margin-right: 1vh;
} #send {
  align-self: flex-end;
  height: 10vh;
  font-size: 3vh;
} .limit {
  position: fixed;
  align-self: flex-end;
  height: 20px;
  width: 20px;
} .limiticon {
  fill: none;
  stroke: rgb(94,189,255);
  stroke-width: 4;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
} .error {
  animation: fadeOut 0.2s ease alternate-reverse both;
  color: crimson;
  display: block;
  align-self: flex-end;
  font-size: 1.7vh;
  border-top: 1px solid crimson;
  margin-top: 1vh;
}

@media only screen and (max-height: 770px) {
  .date {
    font-size: 8px;
    color: black;
  }
  .vote {
    font-size: 20px;
  }
} @media only screen and (max-width: 600px) {
  .main {
    width: 90%;
  }
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
} @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(364deg);
  }
}