* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

html {
  scroll-behavior: smooth;
}

textarea {
  border-radius: 6px;
  resize: none;
  width: 100%;
  font-size: 1em;
  padding: 1vh;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 30% 70%;
  /* height: 100vh; */
  justify-content: center;
  /* overflow: hidden; */
  /* background-color: #5ebcff; */
}

/* .loading {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
  justify-content: center;
}

.loadingicon {
  animation: spin 3s cubic-bezier(0.3, 0.85, 0.85, 0.3) 2s infinite;
  align-self: center;
  fill: none;
  stroke: #5ebcff;
  stroke-width: 6;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
} */


.main {
  background-color: #fff;
  /* box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6); */
  border-radius: 8px 0 8px 8px;
  border: 1px solid #d3d3d3;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  z-index: 1;
  margin: 0 5vw;
}

@media only screen and (max-width: 900px) {
  .App {
    display: flex;
  }
  .main {
    width: 90%;
  }
  .sidebar {
    display: none;
  }
}

.report {
  display: block;
  align-self: center;
  position: fixed;
  width: 60vw;
  height: 60vh;
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
  padding: 2vh;
  border-radius: 6px;
}

.report-title {
  font-size: 1.4em;
  margin: 1vh;
}

.report > p {
  margin-bottom: 1vh;
}

.report > textarea {
  height: 42vh;
}

.report-footer {
  text-align: end;
}

.report-footer > span {
  color: #d3d3d3;
  margin-right: 1vh;
}

.sidebar {
  height: 100vh;
  color: white;
  padding: 2vh;
  text-align: left;
  background-color: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
}

.sidebar-title {
  display: inline-flex;
  width: 100%;
  color: #555;
  font-size: 1.6em;
}

.sidebar-title > button {
  margin-right: 0.5em;
}

.smallbtn {
  display: inline;
  border: none;
  padding: 0 0.5em;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  font-size: 1em;
}

.sidebar-sub {
  display: flex;
}

/* .disclaimer {
  background-color: white;
  padding: 1.5vh;
  border-radius: 0 6px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
}

.disclaimer>i {
  margin-right: 1vh;
} */

/* .options {
  display: flex;
  border-radius: 6px 6px 0 0;
  background-color: #5ebcff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
  align-items: flex-end;
  z-index: 3;
  padding: 1vh;
}

.options-menu {
  position: fixed;
  height: 50vh;
  width: 60vw;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  padding: 2vh;
  margin-top: 4vh;
} */

/* .options>.btn {
  padding: 0;
} */

/* .logo {
  color: white;
  font-size: 2vh;
  width: 100%;
  text-align: left;
} */

.btn {
  padding: 0.8vh;
  border: none;
  background-color: #5ebcff;
  color: white;
  font-size: 2vh;
  border-radius: 6px;
  cursor: pointer;
}

.noselect {
  user-select: none;
}

.message-container {
  border-radius: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2vh;
  height: 100%;
}

/* .new-alert {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  border-radius: 8px;
  color: white;
  background-color: #5ebcff;
} */

.nopost {
  color: gray;
}

.message {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  min-height: 8vh;
  margin-bottom: 1vh;
  text-align: left;
  padding: 1vh;
  border-bottom: 1px solid darkgray;
}

.content {
  display: inline;
  word-wrap: break-word;
  font-size: 1.2em; 
}

.reportbtn {
  color: #5ebcff;
}
.reportbtn:hover {
  color: #555;
}

.sub-content {
  display: flex;
  margin-top: 1vh;
  color: #5ebcff;
}

.date {
  align-self: flex-end;
  justify-self: stretch;
  font-size: 0.7em;
  flex: 1 1;
}

.vote {
  font-size: 1.4em;
  justify-self: flex-end;
}

.vote-btn {
  padding: 1vh;
  cursor: pointer;
  color: #5ebcff;
}
.vote-btn:hover {
  color: #555;
} 

.chatstuffs {
  border-top: 1px solid #d3d3d3;
  align-self: flex-end;
  width: 100%;
  padding: 2vh;
  display: inline-block;
  align-content: center;
  width: 100%;
  font-size: 2vh;
}

.userArea {
  display: flex;
  width: 100%;
}



.userInput {
  margin-right: 1vh;
}

.send {
  align-self: flex-end;
  height: 10vh;
  font-size: 3vh;
}

/* .limit {
  display: inline-flex;
  position: fixed;
  align-self: flex-end;
}

.error {
  animation: fadeOut 0.2s ease alternate-reverse both;
  color: crimson;
  display: block;
  align-self: flex-end;
  font-size: 1.7vh;
  border-top: 1px solid crimson;
  margin-top: 1vh;
} */

.dis {
  display: inline-flex;
  margin-top: 1vh;
  font-size: 0.6em;
  color: #555;
}
.dis > .smallbtn {
  color: #555;
}

@media only screen and (max-height: 770px) {
  .date {
    font-size: 8px;
    color: black;
  }
  .vote {
    font-size: 20px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(364deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #5ebcff;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}